@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.block-welcome {
  margin-left: 100px;
  margin-right: 100px;
}

.block-welcome .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7.5vh;
}

.block-welcome .nav-bar .plug {
  width: 93px;
}

.block-welcome .nav-bar .logo {
  width: 93px;
  height: 54px;
  background-image: url(../images/welcome_block/logo.png);
}

.block-welcome .nav-bar .nav-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 752px;
}

.block-welcome .nav-bar .nav-btn p {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #1d262d;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.block-welcome .nav-bar .nav-btn p:hover {
  opacity: 1;
}

.block-welcome .main {
  margin-top: 16.1vh;
}

.block-welcome .main .text-anim h1:nth-child(1) {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 122%;
  text-transform: uppercase;
  color: #1d262d;
}

.block-welcome .main .text-anim h1:nth-child(2) {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 122%;
  text-transform: uppercase;
  color: #1d262d;
  opacity: 0.47;
}

.block-welcome .main .text-anim h1:nth-child(3) {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 122%;
  text-transform: uppercase;
  color: #1d262d;
  opacity: 0.35;
}

.block-welcome .main .text-desc {
  margin-top: 5.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.block-welcome .main .text-desc div {
  width: 5px;
  height: 81px;
  background-color: #2c2c2c;
}

.block-welcome .main .text-desc p {
  margin-left: 26px;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #2c2c2c;
  opacity: 0.75;
}

@-webkit-keyframes leftToRight {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 26px;
  }
}

@keyframes leftToRight {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 26px;
  }
}

.block-welcome .main .buttons {
  margin-top: 5.6vh;
}

.block-welcome .main .buttons .btn-hover {
  width: 315px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: 0.105em;
  color: #ffffff;
  cursor: pointer;
  height: 77px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 9px;
  moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.block-welcome .main .buttons .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.block-welcome .main .buttons .btn-hover:focus {
  outline: none;
}

.block-welcome .main .buttons .btn-hover.color {
  background-image: -webkit-gradient(linear, left top, right top, from(#667eea), color-stop(#764ba2), color-stop(#6b8dd6), to(#8e37d7));
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  -webkit-box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
          box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
/*# sourceMappingURL=main.css.map */